Repository tact-lang/tact-language-server, pull requests merged in 2025-02, with the labels that each got.

#134 added `eslint` to the `husky` pre-hook
  .husky/pre-commit
Labels: CI

#206 test: Inlay Hints
  server/src/e2e/suite/inlayHints.test.ts
  server/src/e2e/suite/testcases/inlayHints/assembly.test
  server/src/e2e/suite/testcases/inlayHints/contract.test
  server/src/e2e/suite/testcases/inlayHints/message.test
  server/src/e2e/suite/testcases/inlayHints/struct.test
  server/src/e2e/suite/testcases/inlayHints/trait.test
Labels: tests, lsp: inlayHint

#253 test: Add tests for signatureHelp
  .gitignore
  server/src/e2e/suite/signatureHelp.test.ts
  server/src/e2e/suite/testcases/signatures/contract.test
  server/src/e2e/suite/testcases/signatures/initOf.test
  server/src/e2e/suite/testcases/signatures/map.test
  server/src/e2e/suite/testcases/signatures/struct.test
  server/src/e2e/suite/testcases/signatures/trait.test
Labels: tests, lsp: signatureHelp

#276 feat(test): add completion tests with applying in editor
  server/src/e2e/suite/completionSelect.test.ts
  server/src/e2e/suite/testcases/completionSelect/contract.test
Labels: lsp: completion

#288 disabling `postinstall` scripts for third-party dependencies
  .github/workflows/linter.yml
  .github/workflows/tests.yml
  .yarnrc.yml
  package.json
  yarn.lock
Labels: CI
